* {
    box-sizing: border-box;
}

.block {
    width: 700px;
    height: 600px;
    border: 2px dotted gray;
    margin: 40px auto;
}

input {
    margin: 20px 0px 2px 30px;
    padding: 2px;
    width: 250px;
}

.list-country {
    margin: 5px 0 2px 30px;
    width: 250px;
    border: 1px solid rgb(133, 133, 133);
    font-size: 0.8rem;
    font-family: sans-serif;
    display: none;
}

input:focus {
    outline: none;
}

p {
    padding: 5px 4px;
    margin: 0px 0px;
    cursor: pointer;
}

p:hover {
    background: rgb(224, 223, 223);
}